html, body, div, span, nav, ul, h1, h2, h3, h4, h5, h6, li, a, ol, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.nav_top {
    padding: .5rem 0;
    background-color: black;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}

ul.nav_user-info {
    list-style-type: none;
    text-align: right;
    color: white;
    padding: 5px;
}

.navbar-logo {
    text-decoration: none;
    font-size: 22px;
}

.nav_account-btn {
    border: none;
    background-color: transparent;
    color: white;
}


s.logo-red {
    color: red;
    text-decoration: none;
}

s.logo-orange {
    color: orange;
    text-decoration: none;
}

.li_top {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
}

.li_top:hover {
    color: red;
}
